<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Famous Places Around my Place</h1>
    <div><img src="./images/Airport.png" height="400px" width="600px" alt="Airport"></div>
    <p><b>AIRPORT</b></p>
    <div><img src="./images/Park.png" height="400px" width="600px"></div>
    <p><b>PARK</b></p>
    <div><img src="./images/Temple.png" height="400px" width="600px"></div>
    <p><b>TEMPLE</b></p>
    <div><img src="./images/Thomas.png" height="400px" width="600px"></div>
    <p><b>ST.THOMAS MOUNT</b></p>
    <div><img src="./images/Vetri.png" height="400px" width="600px"></div>
    <p><b>VETRI CINEMAS</b></p>
</body>
</html>